<nb-layout>
  <nb-layout-header fixed>
    <!-- Insert header here -->
    Demonstration of all types of Library and Extension in Angular 8
    <button nbButton status="primary" [routerLink]="[ '/']" style="margin-left: 75em;">Back</button>
  </nb-layout-header>
  
  <nb-layout-column>
    <!-- display all component here -->
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <p>
      <a href="https://github.com/kashifazmi/AngularLibraryUse"><img src="./../../../assets/githubnew.png"
          style="width:3em"></a>
      <a href=""><img src="./../../../assets/twitter.png" style="width:3em; margin-left:2em"></a>
    </p>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
