<!-- <span class="form-element">
    Notification Preferences
    <div class="group">
        <label>
            <p-checkbox label="Call" value="call" [formControl]="primaryContactForm.controls['preferred']"></p-checkbox>
        </label>
        <label>
            <p-checkbox label="Text" value="Text" [formControl]="primaryContactForm.controls['preferred']" value="text">
            </p-checkbox>
        </label>
        <label>
            <p-checkbox label="Email" value="mail" [formControl]="primaryContactForm.controls['preferred']"
                value="email"></p-checkbox>
        </label>
    </div>
</span>

<button (click)="SubmitRequest()" [disabled]="!primaryContactForm.valid">Submit Req</button> -->