<div class="container">
      <div class="row">
        <div clas="col-md-4" style="margin-left:7em; width:20em">
          <nb-card accent="info">
            <nb-card-header>Nebular Tutorial</nb-card-header>
            <nb-card-body>
              <!-- Nebular provides customizable UI Kit, Auth and security.It provides
              more than 35 components, 4 visual themes (default, dark, cosmic and corporate),
              3 authentication strategies and as well as security.  -->
              Nebular is a customizable Angular UI Library based on Eva Design System specifications,
              with 40+ UI components, 4 visual themes, Auth and Security modules.
            </nb-card-body>
            <nb-card-footer>For more Details: <i><a [routerLink]="'/nebular-details'">click here</a></i>
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col-md-4" style="margin-left: 1em">
          <nb-card accent="primary" status="warning" style="width: 20em">
            <nb-card-header style="background-color: brown">PrimeNG- PrimeFace Tutorial</nb-card-header>
            <nb-card-body>
              PrimeNG is a collection of rich UI components for Angular with 80+ components, multiple
              themes, customizable template,fully supported mobile-native.
            </nb-card-body>
            <nb-card-footer>For more Details: <i><a [routerLink]="'/primeng-details'">click here</a></i>
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col-md-4" style="margin-left:-3.5em">
          <nb-card accent="primary" status="warning" style="width: 20em">
            <nb-card-header>Third-Party Library Tutorial</nb-card-header>
            <nb-card-body>
              Third-Party library are like Bootstrap, Moments, Rxjs, hammer js, all other library
              which support authentication (ADAL- Azure Active directory library for javascript).
            </nb-card-body>
            <nb-card-footer>For more Details: <i><a [routerLink]="'/third-party-library'">click here</a></i>
            </nb-card-footer>
          </nb-card>
        </div>
      </div>
      <div class="row">
        <div clas="col-md-4" style="margin-left:7em">
          <nb-card accent="primary" status="warning" style="width: 20em">
            <nb-card-header style="background-color: #927d1f">Augury Tutorial</nb-card-header>
            <!-- side nav will add here -->
            <nb-card-body>
              Augury is the most used Developer Tool extension for debugging and profiling
              Angular applications inside the Google Chrome and Mozilla Firefox browsers.
            </nb-card-body>
            <nb-card-footer>For more Details: <i><a [routerLink]="'/augury-details'">click here</a></i>
            </nb-card-footer>
          </nb-card>
        </div>
        <!-- <div class="col-md-4" style="margin-left: 1em">
          <nb-card accent="primary" status="warning" style="width: 20em">
            <nb-card-header>Nebula</nb-card-header>
            <nb-card-body>
              A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
              Originally, nebula was a name for any diffuse astronomical object,
              including galaxies beyond the Milky Way.
            </nb-card-body>
          </nb-card>
        </div> -->
        <!-- <div class="col-md-4" style="margin-left:-3.5em">
          <nb-card accent="primary" status="warning" style="width: 20em">
            <nb-card-header>Nebula</nb-card-header>
            <nb-card-body>
              A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
              Originally, nebula was a name for any diffuse astronomical object,
              including galaxies beyond the Milky Way.
            </nb-card-body>
          </nb-card>
        </div> -->
      </div>

    </div>
  